<div class="navbar-wagon">
  <h1>Pints</h1>
  <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fas fa-glass-martini navbar-wagon-item" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Create a Cocktail", new_cocktail_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(48,52,63,0.6) 50%), url(<%= image_path 'banner-photo.jpg'%>)">
  <div class="banner-content">
    <h1>Pints</h1>
    <span id="banner-typed-text"></span>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url('https://source.unsplash.com/360x175?cocktail');">
          <div class="card-category">
            <h3><%= cocktail.name %></h3>
          </div>
          <div class="card-description">
            <h5></h5>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: 'card-link'%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
</div>
